<!DOCTYPE html>
<!-- Title -->
<div id="menu" class="row text-center">
    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/mortality.jpg" alt=""/>
            <div class="caption">
                <h3>Mortality</h3>
                <p>Visualize mortality rate in United States.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/birthRate.jpg" alt="" />
            <div class="caption">
                <h3>Birth Rate</h3>
                <p>Visualize Birth rate in United States.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/Smoker.jpg" alt="" />
            <div class="caption">
                <h3>Smoker</h3>
                <p>Visualize Smoker's % in United States.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/cancer.jpg" alt=""/>
            <div class="caption">
                <h3>Cancer Death</h3>
                <p>Visualize death rate in United States by Cancer.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/healthInsurance.jpg" alt=""/>
            <div class="caption">
                <h3>Medical Insurance</h3>
                <p>Visualize insured people.</p>
            </div>
        </div>
    </div>
</div>

<header class="jumbotron hero-spacer">
    <h4>Mortality : Mortality rate data-set shows Death Rate for particular Year, Gender wise and with Death Cause.</h4>
    <h4>Birth Rate : Birth rate rate data-set shows Birth Rate for particular Year Range, State wise.</h4>
    <h4>Smoker : Smoker rate data-set shows Smokers Percentage for particular Year, Gender wise.</h4>
    <h4>Cancer Death : Cancer rate data-set shows Cancer Rate for particular Year, Gender wise and with Cancer Type.</h4>
    <h4>Medical Insurance : Medical Insurance rate data-set shows Enrolees for particular State, Year wise.</h4>
</header>